/* Dropdown transition for nav item */
.nav-item-wrapper {
  position: relative;
}

.nav-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.nav-item-wrapper:hover .nav-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


.nav-item-wrapper:hover .MuiButton-endIcon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.get-quote .MuiButton-endIcon {
  transition: transform 0.3s ease;
}
.get-quote:hover .MuiButton-endIcon {
  transform: translateX(4px);
}
