.paneffect {
  animation: sway 3s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes sway {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}


.icon-bx-wraper.style-1 {
  padding: 30px;
  transition: all 1s;
  border-radius: 0.25rem;
  background-color: #fff;
  position: relative;
}

.icon-bx-wraper.style-1:hover,
.icon-bx-wraper.style-1.active {
  box-shadow: 0 5px 95px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.nav-item-wrapper .MuiButton-root {
  transition: color 0.3s ease;
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.services-container{
  padding-top: 115px;
  padding-bottom: 0; 
}

.slider-wrapper {
  padding: 100px 0;
  background-color: #ffffff;
  max-width: 1200px;
  margin: auto;
}


.clients-logo {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.clients-logo:hover {
  background-color: #7355f7; 
  transform: scale(1.05);
}

.logo {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 40px;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
}

.default-logo {
  opacity: 1;
  z-index: 1;
}
.hover-logo {
  opacity: 0;
  z-index: 2;
}

.clients-logo:hover .default-logo {
  opacity: 0;
}
.clients-logo:hover .hover-logo {
  opacity: 1;
}

.image-container:hover .background-rotator {
  animation: rotate360 5s linear infinite;
}

.image-container:hover .icon-holder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .icon-on-bg {
  opacity: 1;
  transition: opacity 0.3s ease;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideLeft 1s ease-out forwards;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(50px);
  animation: slideRight 1s ease-out forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
