.paneffect {
  animation: sway 3s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes sway {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}


.icon-bx-wraper.style-1 {
  padding: 30px;
  transition: all 1s;
  border-radius: 0.25rem;
  background-color: #fff;
  position: relative;
}

.icon-bx-wraper.style-1:hover,
.icon-bx-wraper.style-1.active {
  box-shadow: 0 5px 95px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}

/* Dot Patterns */
.dot-pattern {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.dot-yellow::before,
.dot-pink::before,
.dot-green::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-size: 10px 10px;
}

.dot-yellow::before {
  background-image: radial-gradient(#ffc107 1px, transparent 1px);
}

.dot-pink::before {
  background-image: radial-gradient(#f66 1px, transparent 1px);
}

.dot-green::before {
  background-image: radial-gradient(#28a745 1px, transparent 1px);
}



.nav-item-wrapper .MuiButton-root {
  transition: color 0.3s ease;
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.services-container{
  padding-top: 115px;
  padding-bottom: 0; 
}

.slider-wrapper {
  padding: 100px 0;
  background-color: #ffffff;
  max-width: 1200px;
  margin: auto;
}


.clients-logo {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.clients-logo:hover {
  background-color: #7355f7; 
  transform: scale(1.05);
}

.logo {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 40px;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
}

.default-logo {
  opacity: 1;
  z-index: 1;
}
.hover-logo {
  opacity: 0;
  z-index: 2;
}

.clients-logo:hover .default-logo {
  opacity: 0;
}
.clients-logo:hover .hover-logo {
  opacity: 1;
}
